@font-face {
    font-family: 'Aine';
    src: url('fonts/Aine.woff2') format('woff2'),
        url('fonts/Aine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}